In [22]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

from sklearn import preprocessing, metrics
from sklearn.model_selection import StratifiedKFold, GridSearchCV
from sklearn import svm
from scipy import interp
from sklearn.pipeline import Pipeline

In [23]:
URI = 'postgres://pvbmgwbkmofldt:3ba2e44c3206c180582ccc4b3ed8cf16d53096ecb0f074dd8218af408a3ef2ad@ec2-52-200-48-116.compute-1.amazonaws.com:5432/dan10lpb4vu3um'

engine = create_engine(URI)
conn = engine.connect()

# Execute a SQL query using pandas
df = pd.read_sql_query('SELECT * FROM prob2data_clean', con=conn)

In [24]:
df.describe()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,male,disease
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,54.433333,0.970000,131.706667,246.433333,0.150000,0.530000,149.783333,0.323333,1.029000,1.400000,0.726667,2.310000,0.680000,0.546667
std,9.059755,1.032466,17.580792,51.682840,0.357668,0.526012,22.893013,0.468530,1.161791,0.617471,1.024102,0.612495,0.467256,0.498649
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,135.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000
50%,55.500000,1.000000,130.000000,240.500000,0.000000,1.000000,153.000000,0.000000,0.750000,1.000000,0.000000,2.000000,1.000000,1.000000
75%,61.000000,2.000000,140.000000,274.250000,0.000000,1.000000,166.250000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000,1.000000
max,77.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000,1.000000

In [25]:
df.shape

(300, 14)

In [27]:
# Save locally to be safe
#df.to_csv('prob2data_clean.csv')